{
  "htmlWhitespaceSensitivity": "ignore",
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "requirePragma": false,

  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
